body {
  color: #323653;
  background: linear-gradient(
    89deg,
    rgb(253, 220, 155) 26.2%,
    rgb(255, 215, 165) 48.5%
  );
  font-family: "Mukta", sans-serif;
}

h6 {
  text-align: center;
  font-family: "Mukta", sans-serif;
  color: #323653;
}

h3 {
  font-family: "Mukta", sans-serif;
  color: #323653;
}

h5 {
  color: #323653;
}

ul {
  font-family: "Mukta", sans-serif;
  color: #323653;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
li:first-letter {
  text-transform: capitalize;
}

.app {
  max-width: 700px;
  margin: 10px auto 0;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 2px solid #323653;
  padding: 15px 5px;
}

#search-form {
  text-align: center;
  padding: 5px;
  margin: 5px 10px;
}

#search-text-input {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  background: #f6e7d8;
}
#search-button {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #323653;
  background: #f6e7d8;
}

#current-location-button {
  border: 1.5px solid #323653;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #323653;
  background: #f6e7d8;
}

.last-updated {
  font-size: 16px;
}
#weather-icon {
  vertical-align: top;
}

.temperature-displayed .active {
  color: #323653;
  cursor: default;
}

.temperature-displayed .active:hover {
  text-decoration: none;
}

.temperatureNow {
  font-size: 25px;
  color: #323653;
}

.units {
  font-size: 15px;
  vertical-align: top;
}

.description {
  font-size: 15px;
  color: #323653;
}

.today-breakdown {
  color: #323653;
  text-align: center;
  font-size: 15px;
}

.the-future {
  color: #323653;
  text-align: center;
}

.the-future-day {
  font-size: 15px;
  color: #323653;
}

.the-future-temps {
  font-size: 13px;
}

.future-temp-min {
  opacity: 0.6;
}

.footer {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: "Mukta", sans-serif;
}

.me {
  color: #4c9173;
  margin: 0 auto;
}
